<mat-card class="card">
    
    <mat-card-title><h1 class="tittle">ICR y Tésis</h1></mat-card-title>
    
    <br>
    <a routerLink="../icrs" routerLinkActive="active"><img mat-card-lg-image
         src="../../../../assets/icrs.jpg"></a>
    <a routerLink="../tesis" routerLinkActive="active"><img mat-card-lg-image 
        style="margin-left: 10%;" src="../../../../assets/tesis.jpg"></a>    
    <br>
    <a routerLink="../icrTesis" routerLinkActive="active"><img mat-card-lg-image
        style="margin-top: 10%;" src="../../../../assets/general.jpg"></a>
    <a routerLink="../tiempoIcrTesis" routerLinkActive="active"><img mat-card-lg-image 
        style="margin-left: 10%;margin-top: 10%;" src="../../../../assets/tiempo.png"></a>
    
    <mat-card-content style="text-align: center;">
        <a href="/home" mat-button class="button" mat-button>Regresar</a>
    </mat-card-content>
</mat-card>