<p>
    <mat-toolbar color="warn" role="heading">
        <mat-toolbar-row style="margin-top: -5px;">
            <img src="../../../assets/cyad.png" style="width: 170px;height: 85px;margin-top: 35px;margin-left: 20px;">
            <div class="span">                
                <span>Indicadores de Posgrados CyAD</span>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row style="margin-top: 10px;">
            <section>
                <div class="example-button-row">
                    <a mat-button href="https://www.uam.mx/" target="_blank">UAM</a>
                    <a mat-button href="https://www.cyad.online/uam/" target="_blank">CyAD</a>
                    <a mat-button href="http://cyadposgrados.azc.uam.mx/" target="_blank">POSGRADOS CyAD</a>
                    <a mat-button
                        href="https://www.google.com/maps/place/Universidad+Aut%C3%B3noma+Metropolitana+Azcapotzalco/@19.5034187,-99.1869728,15z/data=!4m5!3m4!1s0x0:0xfb02529ee38b8bf6!8m2!3d19.5034187!4d-99.1869728"
                        target="_blank">UBICACIÓN</a>
                </div>
            </section>
        </mat-toolbar-row>
    </mat-toolbar>
</p>