<mat-card class="card">
  <mat-card-title>
    <h1 class="tittle">Ingresos y Egresos {{level}} </h1>
  </mat-card-title>
  <mat-card-content>
    <div style="padding: 20px;">
      <div fxLayout="row wrap" fxLayoutGap="5% grid">
        <div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="100">
          <table *ngIf="dataEg.length>0" mat-table [dataSource]="dataSourceTab" class="mat-elevation-z8">
            <!-- Año Column -->
            <ng-container matColumnDef="anio">
              <th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
            </ng-container>
            <!-- Ingresos Column -->
            <ng-container matColumnDef="ingresos">
              <th class="cell" mat-header-cell *matHeaderCellDef> Ingresos</th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.ingresos}} </td>
            </ng-container>
            <!-- Egresos Column -->
            <ng-container matColumnDef="egresos">
              <th class="cell" mat-header-cell *matHeaderCellDef> Egresos</th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.egresos}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
          <p-chart *ngIf="dataIn.length>0 && dataEg.length>0" type="bar" [data]="chartData" [options]="chartOptions"
            width="150%" style="padding: 10%">
          </p-chart>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions style="text-align: center;">
    <button class="button" (click)="goBack()" mat-button>Regresar</button>
  </mat-card-actions>
</mat-card>