.tittle{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tomato;
    text-align: center;
}
.card{
    margin-top: 1px;
    text-align: center;
}