<mat-card class="card">
    
    <mat-card-title>
        <h1 class="tittle">Indicadores por apartado</h1>
    </mat-card-title>
    
    <br>
    <a routerLink="../menuMaestria" routerLinkActive="active"><img mat-card-lg-image 
        src="../../../assets/logMaestria1.JPG"></a>
    <a routerLink="../menuDoctorado" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 150px;" 
        src="../../../assets/logDoctorado.JPG"></a>
    <a routerLink="../menuGlobal" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 150px;" 
        src="../../../assets/logGobal.JPG"></a>
    <br>
    <br>
    <a routerLink="../menuProfesores" routerLinkActive="active"><img mat-card-lg-image  
        src="../../../assets/logProfesores.JPG"></a>
    <a routerLink="../menuTesis" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 150px;margin-top: 50px;" 
        src="../../../assets/logTesis.JPG"></a>    
</mat-card>
