<mat-card class="card">
  <mat-card-title>
    <h1 class="tittle">Producción Académica de Profesores </h1>
  </mat-card-title>

  <mat-card-content>
    <div style="padding: 20px;">
      <div fxLayout="row wrap" fxLayoutGap="5% grid">
        <div fxLayout="column" fxFlex="33" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <table *ngIf="indicatorsSix.length>0" mat-table [dataSource]="dataSourceTab" class="mat-elevation-z8"
            style="border-spacing: 5px;">
            <!-- Año Column -->
            <ng-container matColumnDef="anio">
              <th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
            </ng-container>
            <!-- Articulos Column -->
            <ng-container matColumnDef="articulo">
              <th class="cell" mat-header-cell *matHeaderCellDef> Artículos</th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.articulo}} </td>
            </ng-container>
            <!-- Presentaciones Column -->
            <ng-container matColumnDef="presentacion">
              <th class="cell" mat-header-cell *matHeaderCellDef> Presentaciones en evento </th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.presentacion}} </td>
            </ng-container>
            <!-- Memorias Column -->
            <ng-container matColumnDef="memoria">
              <th class="cell" mat-header-cell *matHeaderCellDef> Memorias</th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.memoria}} </td>
            </ng-container>
            <!-- Libros Column -->
            <ng-container matColumnDef="libro">
              <th class="cell" mat-header-cell *matHeaderCellDef> Libros</th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.libro}} </td>
            </ng-container>
            <!-- Patente Column -->
            <ng-container matColumnDef="patente">
              <th class="cell" mat-header-cell *matHeaderCellDef> Patentes</th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.patente}} </td>
            </ng-container>
            <!-- Desarrollo Column -->
            <ng-container matColumnDef="desarrollo">
              <th class="cell" mat-header-cell *matHeaderCellDef> Desarrollo</th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.desarrollo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[0]}}</h3>
          <p-chart type="doughnut" *ngIf="indicatorsSix.length>0" [data]="chartDataOne" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[1]}}</h3>
          <p-chart type="doughnut" *ngIf="indicatorsSix.length>0" [data]="chartDataTwo" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[2]}}</h3>
          <p-chart type="doughnut" *ngIf="indicatorsSix.length>0" [data]="chartDataThree" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[3]}}</h3>
          <p-chart type="doughnut" *ngIf="indicatorsSix.length>0" [data]="chartDataFour" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[4]}}</h3>
          <p-chart type="doughnut" *ngIf="indicatorsSix.length>0" [data]="chartDataFive" [options]="chartOptions">
          </p-chart>
        </div>
      </div>
    </div>

  </mat-card-content>

  <mat-card-content style="text-align: center;">
    <button class="button" (click)="goBack()" mat-button>Regresar</button>
  </mat-card-content>
</mat-card>