<mat-card class="card">

    <mat-card-title>
        <h1 class="tittle">Maestría y Doctorado</h1>
    </mat-card-title>

    <br>
    <a routerLink="../Eficiencia/Global" routerLinkActive="active"><img mat-card-lg-image 
            src="../../../../assets/eficiencia.JPG"></a>
    <a routerLink="../IngresoEgreso/Global" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;"
            src="../../../../assets/ingresos.png"></a>
    <a routerLink="../Produccion/Global" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;"
            src="../../../../assets/produccion.png"></a>
    <br><br><br><br><br>
    <a routerLink="../Aspirantes/Global" routerLinkActive="active"><img mat-card-lg-image 
            src="../../../../assets/aspirantes.png"></a>
    <a routerLink="../Promedio/Global" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;"
            src="../../../../assets/promedio.png"></a>
    <br><br><br><br>

    <mat-card-content style="text-align: center;">
        <a href="/home" mat-button class="button" mat-button>Regresar</a>
    </mat-card-content>

</mat-card>