<mat-card class="card">

    <mat-card-title>
        <h1 class="tittle">Maestría</h1>
    </mat-card-title>

    <br>
    <a routerLink="../Eficiencia/Maestria" routerLinkActive="active"><img mat-card-lg-image 
            src="../../../../assets/eficiencia.JPG"></a>
    <a routerLink="../IngresoEgreso/Maestria" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;"
            src="../../../../assets/ingresos.png"></a>
    <a routerLink="../Produccion/Maestria" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;"
            src="../../../../assets/produccion.png"></a>
    <br><br><br><br><br>
    <a routerLink="../Aspirantes/Maestria" routerLinkActive="active"><img mat-card-lg-image
            src="../../../../assets/aspirantes.png"></a>
    <a routerLink="../Promedio/Maestria" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;"
            src="../../../../assets/promedio.png"></a>
    <br><br><br><br>

    <mat-card-content style="text-align: center;">
        <a href="/home" mat-button class="button" mat-button>Regresar</a>
    </mat-card-content>

</mat-card>