.example-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    height: 100%;
}
.example-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
} 
.sidenav {
    //padding: 20px;
    width: 15%;    
    height: 100%;
}
.tittle{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tomato;
    text-align: center;
}