<div>
  <app-header></app-header>
</div>

<mat-sidenav-container class="example-container">
  
  <mat-sidenav class="sidenav" mode="side" opened>
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>