	<mat-card class="card">
	<mat-card-title>
		<h1 class="tittle">Número de profesores </h1>
	</mat-card-title>

	<mat-card-content>
		<div style="padding: 20px;">
			<div fxLayout="row wrap" fxLayoutGap="5% grid">
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
					<table *ngIf="dataNB.length>0 && dataPC.length>0 && dataCP.length>0 && dataEP.length>0" mat-table
						[dataSource]="dataSourceTab" class="mat-elevation-z8" style="border-spacing: 10px;"
						width="90%">
						<!-- Año Column -->
						<ng-container matColumnDef="anio">
							<th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
						</ng-container>
						<!-- Núcleo Básico Column -->
						<ng-container matColumnDef="nucleo">
							<th class="cell" mat-header-cell *matHeaderCellDef> Núcleo Básico </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.nucleo}} </td>
						</ng-container>
						<!-- Planta Complementaria Column -->
						<ng-container matColumnDef="complementaria">
							<th class="cell" mat-header-cell *matHeaderCellDef> Planta Complementaria </th>
							<td class="cell" mat-cell *matCellDef="let element"> {{element.complementaria}} </td>
						</ng-container>
						<!-- Exclusivos del Programa Column -->
						<ng-container matColumnDef="exclusivos">
							<th class="cell" mat-header-cell *matHeaderCellDef> Programa Exclusivo </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.exclusivos}} </td>
						</ng-container>
						<!-- Compartidos Column -->
						<ng-container matColumnDef="compartidos">
							<th class="cell" mat-header-cell *matHeaderCellDef> Programa Compartido </th>
							<td class="cell" mat-cell *matCellDef="let element"> {{element.compartidos}} </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>					
				</div>
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
					<p-chart *ngIf="dataNB.length>0 && dataPC.length>0" type="bar" [data]="chartDataOne" [options]="chartOptions"
						width="150%" style="padding: 10%">
					</p-chart>
				</div>
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
					<p-chart *ngIf="dataEP.length>4 && dataCP.length>4" type="bar" [data]="chartDataTwo" [options]="chartOptions"
						width="150%" style="padding: 10%">
					</p-chart>
				</div>
			</div>		
		</div>
	</mat-card-content>

	<mat-card-content style="text-align: center;">
		<button class="button" (click)="goBack()" mat-button>Regresar</button>
	</mat-card-content>
</mat-card>