<mat-nav-list role="list">
    <a href="home" mat-list-item>
        <mat-icon class="icon">home</mat-icon>
        <mat-divider></mat-divider>
        Home
    </a>
    <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of fillerNav">
        <div *ngIf="nav.show">
            <mat-icon class="subitem">{{nav.icon}}</mat-icon>
            {{nav.name}}
            <mat-divider></mat-divider>
        </div>

    </a>
</mat-nav-list>