<mat-card class="card">
	<mat-card-title>
		<h1 class="tittle">ICR's concluidas de</h1>
		<h1 class="tittle">acuerdo a la duración normal</h1>
	</mat-card-title>

	<mat-card-content>
		<div style="padding: 20px;">
			<div fxLayout="row wrap" fxLayoutGap="5% grid">
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
					<table *ngIf="dataNoCon.length>0" mat-table [dataSource]="dataSourceTab" class="mat-elevation-z8">
						<!-- Año Column -->
						<ng-container matColumnDef="anio">
							<th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
						</ng-container>
						<!-- Concluidas Column -->
						<ng-container matColumnDef="concluidas">
							<th class="cell" mat-header-cell *matHeaderCellDef> Concluidas </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.concluidas}} </td>
						</ng-container>
						<!-- No concluidas Column -->
						<ng-container matColumnDef="noConcluidas">
							<th class="cell" mat-header-cell *matHeaderCellDef> No Concluidas</th>
							<td class="cell" mat-cell *matCellDef="let element"> {{element.noConcluidas}} </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
					<p-chart width="150%" style="padding: 10%" *ngIf="dataCon.length>0 && dataNoCon.length>0" type="bar"
						[data]="chartData" [options]="chartOptions">
					</p-chart>
				</div>
			</div>
		</div>
	</mat-card-content>

	<mat-card-actions style="text-align: center;">
		<button class="button" (click)="goBack()" mat-button>Regresar</button>
	</mat-card-actions>
</mat-card>