<mat-card class="card">

    <mat-card-title>
        <h1 class="tittle">Profesores</h1>
    </mat-card-title>

    <mat-card-content style="text-align: center;">
    <br><br><br>
    <a routerLink="../numeroProfesores" routerLinkActive="active"><img mat-card-lg-image 
        src="../../../../assets/cantidad.png"></a>
    <a routerLink="../produccionProfesores" routerLinkActive="active"><img mat-card-lg-image style="margin-left: 10%;margin-right: 10%;"
            src="../../../../assets/produccion.png"></a>
    <a routerLink="../perfilProfesores" routerLinkActive="active"><img mat-card-lg-image 
            src="../../../../assets/perfil.png"></a>
            <br><br><br><br>
    </mat-card-content>


    <mat-card-content style="text-align: center;">
        <a href="/home" mat-button class="button" mat-button>Regresar</a>
    </mat-card-content>
</mat-card>