<!--
<div>
    <div *ngIf="indicator.id_cat_indicadores_academicos==1">
        Ingresos<br>
        Indicador {{indicator.id}}
        {{indicator.nivel}}
        {{indicator.generacion}}
        Total: {{indicator.cantidad}}
    </div>    
    <div *ngIf="indicator.id_cat_indicadores_academicos==2">
        Egresos<br>
        Indicador {{indicator.id}}
        {{indicator.nivel}}
        {{indicator.generacion}}
        Total: {{indicator.cantidad}}
    </div>
</div>
-->

<div>
    <div *ngFor="let indicator of indics">
        Ingresos<br>
        Indicador {{indicator.id}}
        {{indicator.nivel}}
        {{indicator.generacion}}
        Total: {{indicator.cantidad}}
    </div>   
</div>