<mat-card class="card">
  <mat-card-title>
    <h1 class="tittle">Ingresos y Egresos {{level}}</h1>
  </mat-card-title>

  <mat-card-content >

    <table style="margin-left: 10%;border-spacing: 50px 50px;">
      <tr>

        <td>
          <table *ngIf="dataEg.length>0" mat-table [dataSource]="dataSourceTab" class="mat-elevation-z8">
            <!-- Año Column -->
            <ng-container matColumnDef="anio">
              <th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
            </ng-container>
            <!-- Ingresos Column -->
            <ng-container matColumnDef="ingresos">
              <th class="cell" mat-header-cell *matHeaderCellDef> Ingresos</th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.ingresos}} </td>
            </ng-container>
            <!-- Egresos Column -->
            <ng-container matColumnDef="egresos">
              <th class="cell" mat-header-cell *matHeaderCellDef> Egresos</th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.egresos}} </td>
            </ng-container>
      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </td>
    
        <td class="bar" style="margin-left: 80px;">
          <p-chart *ngIf="dataIn.length>0 && dataEg.length>0" type="bar" [data]="chartData" [options]="chartOptions">
          </p-chart>
        </td>
      </tr>
    </table>
  </mat-card-content>

  <mat-card-content style="text-align: center;">
    <button class="button" (click)="goBack()"mat-button>Regresar</button>
  </mat-card-content>
</mat-card>