<mat-card class="card">
	<mat-card-title>
		<h1 class="tittle">Tiempo promedio en trimestres</h1>
		<h1 class="tittle">para concluir</h1>
	</mat-card-title>

	<mat-card-content>
		<div style="padding: 20px;">
			<div fxLayout="row wrap" fxLayoutGap="5% grid">
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="100">
					<table *ngIf="dataIcr.length>0" mat-table [dataSource]="dataSourceTab" class="mat-elevation-z8">
						<!-- Año Column -->
						<ng-container matColumnDef="anio">
							<th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
						</ng-container>
						<!-- Icr Column -->
						<ng-container matColumnDef="icr">
							<th class="cell" mat-header-cell *matHeaderCellDef> Trimestres ICR </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.icr}} </td>
						</ng-container>
						<!-- Tesis Column -->
						<ng-container matColumnDef="tesis">
							<th class="cell" mat-header-cell *matHeaderCellDef> Trimestres Tésis </th>
							<td mat-cell class="cell" *matCellDef="let element"> {{element.tesis}} </td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
					</table>
				</div>
				<div fxLayout="column" fxFlex="35" style="margin-left: 5%;" fxFlex.md="35" fxFlex.sm="50" fxFlex.xs="80">
					<p-chart *ngIf='dataIcr.length>4 && dataTesis.length>4' width="35vw" height="40vh" type="bar"
						[data]="chartData" [options]="chartOptions">
					</p-chart>
				</div>
			</div>
		</div>
	</mat-card-content>

	<mat-card-content style="text-align: center;">
		<button class="button" (click)="goBack()" mat-button>Regresar</button>
	</mat-card-content>
</mat-card>