<mat-card class="card">
  <mat-card-title>
    <h1 class="tittle">Perfiles de Profesores</h1>
  </mat-card-title>

  <mat-card-content>
    <div style="padding: 20px;">
      <div fxLayout="row wrap" fxLayoutGap="5% grid">
        <div fxLayout="column" fxFlex="33" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <table *ngIf="indicatorsSNC.length>0" mat-table [dataSource]="dataSourceTab" class="mat-elevation-z8">
            <!-- Año Column -->
            <ng-container matColumnDef="anio">
              <th class="cell" mat-header-cell *matHeaderCellDef> Año </th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.anio}} </td>
            </ng-container>
            <!-- SNI Column -->
            <ng-container matColumnDef="sni">
              <th class="cell" mat-header-cell *matHeaderCellDef> Pertenecientes al SNI </th>
              <td mat-cell class="cell" *matCellDef="let element"> {{element.sni}} </td>
            </ng-container>
            <!-- Prodep Column -->
            <ng-container matColumnDef="prodep">
              <th class="cell" mat-header-cell *matHeaderCellDef> Cuentan con perfil Prodep </th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.prodep}} </td>
            </ng-container>
            <!-- SNC Column -->
            <ng-container matColumnDef="snc">
              <th class="cell" mat-header-cell *matHeaderCellDef> Pertenecientes al SNC </th>
              <td class="cell" mat-cell *matCellDef="let element"> {{element.snc}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[0]}}</h3>
          <!--Celda para la grafica-->
          <p-chart *ngIf="indicatorsSNC.length>0" type="pie" [data]="chartDataOne" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[1]}}</h3>
          <!--Celda para la grafica-->
          <p-chart *ngIf="indicatorsSNC.length>0" type="pie" [data]="chartDataTwo" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[2]}}</h3>
          <!--Celda para la grafica-->
          <p-chart *ngIf="indicatorsSNC.length>0" type="pie" [data]="chartDataThree" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[3]}}</h3>
          <!--Celda para la grafica-->
          <p-chart *ngIf="indicatorsSNC.length>0" type="pie" [data]="chartDataFour" [options]="chartOptions">
          </p-chart>
        </div>
        <div fxLayout="column" fxFlex="25" style="margin-left: 5%;" fxFlex.md="33" fxFlex.sm="50" fxFlex.xs="100">
          <h3 class="year">{{year[4]}}</h3>
          <!--Celda para la grafica-->
          <p-chart *ngIf="indicatorsSNC.length>0" type="pie" [data]="chartDataFive" [options]="chartOptions">
          </p-chart>
        </div>
      </div>
    </div>

  </mat-card-content>

  <mat-card-content style="text-align: center;">
    <button class="button" (click)="goBack()" mat-button>Regresar</button>
  </mat-card-content>
</mat-card>