.tittle{
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: tomato;
    text-align: center;
}
.bar{
    width: 65px;
}
.card{
    margin-top: 1px;
}
.cell{
    text-align: center;
    width: 70px;
}
.button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
    font-size: 21px;
    color: orangered;
}
.year{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #068956;
    align-self: center;
}